# MONGODB
MONGODB_URI = "mongodb+srv://subhamrakshit667:Noez2jWCMmDaKypk@cluster0.rice2.mongodb.net/FujairahFreezone?retryWrites=true&w=majority&appName=Cluster0Sr10"

# REDIS
# "rediss://default:UPSTASH_REDIS_REST_TOKEN@UPSTASH_REDIS_REST_URL:PORT_NUMBER" [** rediss for similar security as HTTPS **]
REDIS_URL = "rediss://default:AVBJAAIjcDFkYmM3MWQyZWVhYzI0MjMxYjRjNGQ1YzBiMDJlNjQ4ZHAxMA@primary-dane-20553.upstash.io:6379Sr10"

# NextAuth secret string (atleast 32 characters long)
NEXTAUTH_SECRET = subham1997atul1964@7980@9614subhra_rakshit_sr10
NEXTAUTH_URL = "http://localhost:3000"

AUTH_GITHUB_ID = "Ov23lisAfG5XskxhurguSr10"
AUTH_GITHUB_SECRET = "59199b736f4fcc7c20e2e1d3077207be09d811ddSr10"

AUTH_GOOGLE_ID = "467576962323-g9cke1g962q6tm684rap24fsf32cdhf5.apps.googleusercontent.comSr10"
AUTH_GOOGLE_SECRET = "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Sr10"

AUTH_FACEBOOK_ID = "3817897878481252Sr10"
AUTH_FACEBOOK_SECRET = "bdd37cc9c260d1669c31c04b0ff0a0c0Sr10"

AUTH_TWITTER_ID = "29575904Sr10"
AUTH_TWITTER_SECRET = "D0U4GpkFjG7j0WM78RTN65SvvRDLVpdJoG4OOA7jkWkahxSQRYSr10"


# JWT
TOKEN_SECRET = subham1997atul1964@7980@9614Sr10
TOKEN_EXPIRATION_REMEMBERED = 10
TOKEN_EXPIRATION_NOT_REMEMBERED = 1

# NODEMAILER
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_MAIL=subhamrakshit667@gmail.com
SMTP_PASSWORD=fopb kadb lkdc bwtu sr10

# AWS
NEXT_PUBLIC_AWS_ACCESS_KEY_ID = "AKIAQXUIYBWES23MOF7XSr10"
NEXT_PUBLIC_AWS_SECRET_ACCESS_KEY = "jpVA2SVVdH9VnsziArW0xdqV8x+NxtyuULe0vpSKSr10"
NEXT_PUBLIC_AWS_REGION = "ap-south-1"
NEXT_PUBLIC_AWS_API_VERSION = "2010-12-01"
NEXT_PUBLIC_AWS_BUCKET_NAME="common-velzon-dashboard"
NEXT_PUBLIC_AWS_IMA_USER_ID = "arn:aws:iam::050752654729:user/subham_stripeSr10"

# UPPY FILES
NEXT_PUBLIC_UPPY_MAX_IMAGE_FILE_SIZE_MB = 10
NEXT_PUBLIC_UPPY_MAX_VIDEO_FILE_SIZE_MB = 50
NEXT_PUBLIC_UPPY_MAX_PDF_FILE_SIZE_MB = 20
NEXT_PUBLIC_UPPY_MAX_OTHER_FILE_SIZE_MB = 100

NEXT_PUBLIC_UPPY_RESTRICTED_FILES_COUNT = 10
NEXT_PUBLIC_UPPY_RESTRICTED_FILES_SIZE = 100
NEXT_PUBLIC_UPPY_PRESIGNED_URL_EXPIRES_IN_SECONDS = 600
NEXT_PUBLIC_DEBOUNCE_DELAY = 300

# SEEDER ADMIN USER INFO
ADMIN_EMAIL = "subhamrakshit667@gmail.com"
ADMIN_USERNAME = "Subham Rakshit"
ADMIN_PASSWORD = "Subham@1997"
ADMIN_ACCESS_KEY = "1@9&9-"

# RBAC
NEXT_PUBLIC_USER_MAX_ROLE_COUNT = 10

# APP NAME IN META TITLE
NEXT_PUBLIC_META_APP_NAME = "| Fujairah Freezone Authority"
NEXT_PUBLIC_DEFAULT_META_APP_NAME = "Fujairah Freezone Authority, business hub in UAE"
NEXT_PUBLIC_DEFAULT_META_APP_DESCRIPTION = "The best business hub in UAE"

# Website URL
# NEXT_PUBLIC_DOMAIN_URL = "http://192.168.1.7:3000"
NEXT_PUBLIC_DOMAIN_URL = "http://localhost:3000"

